<%- include('shared/header.ejs') -%>
<%- include('shared/nav.ejs') -%>
<div class="main"></div>
    <img src="/images/books2.jpg" class="home">    
  <div class="text">
     <h4>For Return and Replacement Requests</h4>
     <a href="/request">Click Here</a>
  </div>
</div>

<%- include('shared/footer.ejs') -%>